
<div class="container-blog">
<h1><%= @article.title %></h1>
<p><%= @article.published_at.strftime("%d %B %Y") if @article.published_at %></p>

<div class="article-image-show">
<% if @article.image.attached? %>
  <%= image_tag @article.image, width: "400px" %>
<% end %>
</div>

<p><%= @article.content %></p>

<%= link_to "Supprimer", @article, method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>

<%= link_to "Modifier", edit_article_path(@article), class: "btn btn-secondary" %>
<%= link_to "Retour", articles_path, class: "btn btn-primary" %>
</div>
