<!-- filepath: /home/valentinbctt/code/ValentinBctt/Doulanouk/app/views/rdv_mailer/new_rdv_email.html.erb -->
<!-- filepath: /home/valentinbctt/code/ValentinBctt/Doulanouk/app/views/rdv_mailer/new_rdv_email.html.erb -->
<h1>Nouveau RDV</h1>
<p><strong>Prénom:</strong> <%= @rdv.first_name %></p>
<p><strong>Nom:</strong> <%= @rdv.last_name %></p>
<p><strong>Email:</strong> <%= @rdv.email %></p>
<p><strong>Numéro de téléphone:</strong> <%= @rdv.phone %></p>
<p><strong>Code postal:</strong> <%= @rdv.postal_code %></p>
<p><strong>Ville:</strong> <%= @rdv.city %></p>
<p><strong>Prestation:</strong> <%= @rdv.prestation.titre %></p>
<p><strong>Message:</strong> <%= @rdv.message %></p>
