<!DOCTYPE html>
<html>
  <head>
    <title>Anouk Doula</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Liens CSS -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Importation de FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="<%= asset_path 'logo.png' %>" type="image/x-icon">

    <!-- Liens Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans&display=swap" rel="stylesheet">

    <!-- Importation des scripts JavaScript -->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "home/navbar" %>

    <%= yield %>
  </body>
</html>
